<section (scroll)="divScroll($event)" class="footer-content">
    <div class="content-transition">
            <img class="vector-footer" src="../../../assets/images/Vector-footer.svg" alt="">
            <div class="row content-footer">
                <div class="col-md-7 text-footer">
                    <div class="content-text-footer">
                        <p [@title-large]="runState" class="title-footer">
                            El amanecer de una revolución digital
                        </p>
                        <p [@subtitle-short]="runState" class="download-footer">
                            Descarga ALVA ahora.
                        </p>
                        <img [@image-googlePlay]="runState" class="image-google-play"
                            src="../../../assets/images/image-google-play.png" alt="" (click)="onDownload()">
                        <p [@availability-large]="runState" class="availability-footer">
                            * Disponible solo para dispositivos Android
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="phones">
                        <img [@topPhone]="runState" class="img-phone-1" src="../../../assets/images/MockUp1.png" alt="">
                        <img [@midlePhone]="runState" class="img-phone-2" src="../../../assets/images/MockUp2.png" alt="">
                        <img [@bottomPhone]="runState" class="img-phone-3" src="../../../assets/images/MockUp3.png" alt="">
                    </div>
                </div>
            </div>
    </div>
</section>

<section class="row gx-0 justify-content-center py-3 footer-background">
    <div
        class="col-11 col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mx-auto text-center text-xs-start text-sm-start text-md-start text-lg-start text-xl-start">
        <img src="../../../assets/images/LOGO.png" alt="">
    </div>
    <div
        class="col-11 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto text-center text-xs-end text-sm-end text-md-end text-lg-end text-xl-end">
        <div class="call">
            <a href="tel:+800148000" class="callRef">
                <span >
                    <i class="bi bi-telephone-fill"></i> 800148000
                </span>
            </a>
        </div>
        <div class="terms">
            <span class="termsAnd" routerlink="/terms">
                Terms and Conditions 
            </span>
             | 
            <span class="termsAnd" routerlink="/privacy">
                 Privacy policy 
            </span>
             | 
            <span class="termsAnd" routerlink="/publicity">
                 Advertising policy 
            </span>
             | 
            <span class="termsAnd" routerlink="/support">
                Report a issue
            </span>
        </div>
        <div class="copy">
            © 2023 ALVA Browser | Todos los derechos reservados
        </div>
    </div>
</section>