<section class="content-section" style="position: relative;">
    <!-- <img class="img-escudo" src="../../../assets/images/fondo escudo iconos.png" alt=""> -->
    <div @enterState
        class="col-11 col-xs-9 col-sm-9 col-md-5 col-lg-5 col-xl-5 mx-auto text-center text-xs-center text-sm-center text-md-start text-lg-start text-xl-start content-banner">
        <p class="banner-title">El amanecer de una revolución digital</p>
        <p class="banner-subtitle">Eleva tu
            experiencia digital con la nueva Súper App ALVA. Descárgala ahora y empieza a disfrutar de todos sus
            beneficios.</p>
        <button class="btn btn-lg btn-primary btn-body mt-2 mb-2 btn-download">
            <i class="bi bi-download"></i>
            Descargar ALVA
        </button>
    </div>
    <div @phoneState class="phone">
        <img class="phone-img" src="../../../assets/images/phone-alva01.png" alt="">
    </div>
</section>
<div class="content-gradient">
    <div class="color-curve"></div>
    <img class="white-curve" src="../../../assets/images/Vector.svg" alt="">
</div>
<section class="options-bg">
    <div class="row content-opt">
        <div class="text-opt col-md-7 col-sm-12">
            <div class="text-cont-opt">
                <p class="title-opt">
                    Tus aplicaciones favoritas en un solo lugar
                </p>
                <p class="subtitle-opt">
                    Con ALVA, podrás gestionar tus Apps en un solo lugar. Ahorrarás espacio en tu celular y disfrutarás a una potente y rápida interfaz que unificará todos tus servicios.
                </p>
            </div>
        </div>
        <div class="img-opt col-md-5 col-sm-12">
            <img class="img-resp" src="../../../assets/images/Component-1.png" alt="">
        </div>
    </div>
    <div class="row content-opt">
        <div class="text-opt col-md-7 col-sm-12">
            <div class="text-cont-opt">
                <p class="title-opt">
                    Tus aplicaciones favoritas en un solo lugar
                </p>
                <p class="subtitle-opt">
                    Con ALVA, podrás gestionar tus Apps en un solo lugar. Ahorrarás espacio en tu celular y disfrutarás a una potente y rápida interfaz que unificará todos tus servicios.
                </p>
            </div>
        </div>
        <div class="img-opt col-md-5 col-sm-12">
            <img class="img-resp" src="../../../assets/images/Component-2.png" alt="">
        </div>
    </div>
    <div class="row content-opt">
        <div class="text-opt col-md-7 col-sm-12">
            <div class="text-cont-opt">
                <p class="title-opt">
                    Tus aplicaciones favoritas en un solo lugar
                </p>
                <p class="subtitle-opt">
                    Con ALVA, podrás gestionar tus Apps en un solo lugar. Ahorrarás espacio en tu celular y disfrutarás a una potente y rápida interfaz que unificará todos tus servicios.
                </p>
            </div>
        </div>
        <div class="img-opt col-md-5 col-sm-12">
            <img class="img-resp" src="../../../assets/images/Component-3.png" alt="">
        </div>
    </div>
    <div class="row content-opt">
        <div class="text-opt col-md-7 col-sm-12">
            <div class="text-cont-opt">
                <p class="title-opt">
                    Tus aplicaciones favoritas en un solo lugar
                </p>
                <p class="subtitle-opt">
                    Con ALVA, podrás gestionar tus Apps en un solo lugar. Ahorrarás espacio en tu celular y disfrutarás a una potente y rápida interfaz que unificará todos tus servicios.
                </p>
            </div>
        </div>
        <div class="img-opt col-md-5 col-sm-12">
            <img class="img-resp" src="../../../assets/images/Component-4.png" alt="">
        </div>
    </div>
</section>